body{
    background-color: rgb(248, 245, 241);
    flex-direction: row;
    flex-wrap: wrap;
    
}
.seccion{
    text-align: center;
    width: auto;
    height: 450px;
    border-top: 2px solid rgb(223, 61, 61);
    border-bottom: 2px solid rgb(223, 61, 61);
    border-left: 2px solid rgb(223, 61, 61);
    border-right: 2px solid rgb(223, 61, 61);  
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
}
.title{
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 5px #000000;    
}

.title1{

    text-align: center;
    color: black;     
}
.main_title{
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 5px #000000; 
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;   
}
.containerluz{
   
    margin-left:20px ;
    margin-top: 20px;
    margin-right: 20px;
    border-top: 2px solid rgb(248, 10, 10);
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 450px;
    height: 400px;
    background-color: rgb(248, 245, 241);
}

.containergas{
    
    /* 
    margin-left:400px ;
    margin-right: 10px; */
    margin-top: 20px;
    margin-right: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 450px;
    height: 400px;
    background-color: rgb(248, 245, 241);
}

.containeragua{  
    /* display: flex; */
    /*
    margin-left: 10px;
    margin-right: 10px; */
    margin-top: 20px;
    border: 2px solid black;
    width: 450px;
    height: 400px;
    background-color: rgb(248, 245, 241);   
}
.container7{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    width: auto;
    height: 20px;
}

.containerbutton{
    margin-top: 10px;
    display: flexbox;    
    border: 2px solid black;
    width: auto;
    height: 40px;
}
#calcularbuttton{
    margin-left: 50%;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid rgb(13, 179, 156);
    width: 100px;
    height: 30px;
    background-color: rgb(248, 245, 241);
}
